mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

mat-toolbar .desktop-menu {
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;

}