mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

mat-toolbar .desktop-menu {
    width: 100%;
    background-color: var(--ca-bg-white);
    margin: 0;
    padding: 0 var(--ca-space-4);
    box-shadow: var(--ca-shadow-nav);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
