@font-face {
  font-family: 'Ribeye';
  src: url('../../../../../public/assets/fonts/Ribeye_Marrow/RibeyeMarrow-Regular.ttf') format('trueType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sour_Gummy';
  src: url('../../../../../public/assets/fonts/Sour_Gummy/SourGummy-VariableFont_wdth\,wght.ttf') format('trueType');
  font-weight: normal;
  font-style: normal;
}


span {
    font-family: 'Sour_Gummy', sans-serif;
    font-size: 2.5rem;
    color: cadetblue;
}