.pedagogik-teaser-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #e0f7fa;
  border-radius: 8px;
}
.pedagogik-teaser-container p {
  font-size: 1.5rem;
  color: #00796b;
}