.dektop-menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

a {
    text-decoration: none;
    color: gray;
    font-size: 14pt;
    font-variant: small-caps;
    margin-right: 16px;
}

a:hover, a.active-link {
    font-weight: bold;
    color: cadetblue;
}