.hero {
    height: 30rem;
    background: url('../../../../../public/assets/images/hero-welcome-bg.svg') no-repeat center center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
}

.hero-overlay {
    height: 100%;
    padding: 0 5%;
    background-color: rgba(255, 255, 255, 0.6);
}

.hero-content {
    height: 100%;
    width: 50%;
    padding: 0 12.5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
}


.hero h1 {
  color: #2D3748;
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.hero-subtitle {
  font-size: 1.25rem;
  color: #4A5568;
  margin-top: 1rem;
}

