html, body {
    height: 100%;
    margin: 0;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  box-shadow: 10px 0 13px rgba(0,0,0,0.1);
}

mat-sidenav-content {

  display: flex;
  flex-direction: column;
  height: 100%;
}

.spacer {
    flex: 1 1 auto;
}

main {
    min-height: 100vh;
}


mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgba(226, 223, 223, 0.8);
  width: 100%;
  padding: 0 20px;
  box-shadow: 10px 0 13px rgba(0,0,0,0.3);
} 

.desktop-menu {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



