.ca-logo-icon-container {
    width: 100%;
    height: 100%;

}

.ca-logo-icon-container svg {
    background-color: none;
}

svg{
    animation: animateTop 3600s linear infinite;
  box-shadow: 5x 10px 13px rgba(0,0,0,0.3);
  border-radius: 50%;
}


@keyframes animateTop {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}